.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}
.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: black;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #949494;
}
.search-button {
    background: transparent;
    font-size: 12px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.search-button:hover {
    background-color: #fff4f2;
    transition: 0.3s;
}   