.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 90%;
}
.navBar-logo-img{
    width: 62px;
    border-radius: 10%;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 14px;

}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: -12%;
    
}
.navbar button{
    background: transparent;
    font-size: 12px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.navbar button:hover{
    background-color: #fff4f2;
    transition: 0.3s;
}   
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;

}
.navbar li{
    cursor: pointer;
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 50%;
    right: -4px;
    top: 4px;
}
@media (max-width:1050px){
    .navbar{
        width: 90%;
    }
    
    .navbar-right{
        gap: 25px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (min-width:900px){
    .navbar{
        width: 90%;
    }
    .navBar-logo-img{
        width: 75px;
        border-radius: 15%;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        margin-right: -12%;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
    
}
@media (min-width:880px){
    .navbar-menu{
        gap: 20px;
        font-size: 20px;
    }
}
@media (max-width:750px){
    .navBar-logo-img{
        width: 50px;
        border-radius: 15%;
    }
    .navbar-menu{
        gap: 5px;
        font-size: 12px;
    }
    
}
@media (max-width:620px){
    .navbar-menu{
        display: none;
    }
    
}