.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat ;
    background-size: contain;
    position: relative;
    animation: fadeIn 3s;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 60%;
    bottom: 10%;
    left: 6vw;
    gap: 1.5vw;
    animation: fadeIn2 3s;
}
.header-contents h2{
    color: white;
    font-size: max(4.5vw,22px);
}
h2{
    bottom: -10px;
    width: 700px;
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 15vw;
}
button{
    cursor: pointer;
}